packages:
  yum:
    numpy: []
    scipy: []
  rpm:
    libjpeg: ftp://rpmfind.net/linux/sourceforge/r/ra/ramonelinux/Rel_0.96/releases/x86_64/packages/libjpeg-8d-4.ram1.x86_64.rpm
    libjpeg-devel: ftp://rpmfind.net/linux/opensuse/update/11.3-test/rpm/x86_64/libjpeg-devel-8.0.1-2.1.1.x86_64.rpm

#libmemcached-devel: '0.31'