<!doctype html>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@facezoomapp">
<meta name="twitter:title" content="broswse facezoom">
<meta name="twitter:description" content="facezoom generates animated zooming gifs">

<title>facezoom</title>
<html>
<body>

<body bgcolor="#461B7E">
<center>
<head>
<font color=orange size=36>facezoom</font>
<font color=lightblue size="12"><sup><small>BETA</small></sup></font>

{% for image in images %}
<center>
<a href="/im/{{ image }}">
<img src="https://fz-images.s3.amazonaws.com/{{ image }}.gif" alt="facezoom">
</a>
<br>
{% endfor %}


<!-- AddThis Button BEGIN -->
<style>
        div.addthis_toolbox {
        width: 400px;
        margin: 0 auto;
}
</style>
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
​<script type="text/javascript">
var addthis_config = addthis_config||{};
addthis_config.data_track_addressbar = false;
addthis_config.data_track_clickback = false;
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5244a8a87e3285fa"></script>
<!-- AddThis Button END -->

</center>


</body>
</head>