<!doctype html>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@facezoomapp">
<meta name="twitter:title" content="facezoom">
<meta name="twitter:description" content="facezoom generates animated zooming gifs">

<meta name="viewport" content="width=device-width, initial-scale=.4, maximum-scale=.4, user-scalable=no" />
<style type="text/css">
div.upload {
    width: 640px;
    height: 640px;
    background: url(/layout/upload_icon.png);
    overflow: hidden;
}
div.upload input {
    display: block !important;
    width: 640px !important;
    height: 640px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
</style>
<br>
<title>facezoom</title>
<center>
<head>
<font color="#F6961B" size=36>facezoom</font>
<font color=lightblue size="12"><sup><small>BETA</small></sup></font>
</head>
<br><br>
{% if error %}
<font color="red">{{ error }}</font>
{% endif %}
<br><br>
<form action="/upload" method=post enctype=multipart/form-data>
    <div class="upload">
        <input type=file name=file onchange="javascript:this.form.submit();">
    </div>
</form>
<br>
<!-- AddThis Button BEGIN -->
<style>
        div.addthis_toolbox {
        width: 400px;
        margin: 0 auto;
}
</style>
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
​<script type="text/javascript">
var addthis_config = addthis_config||{};
addthis_config.data_track_addressbar = false;
addthis_config.data_track_clickback = false;
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5244a8a87e3285fa"></script>
<!-- AddThis Button END -->

</center>
</body>
</html>
